/* styles.css */
.split-pane-width {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
}

.split-pane-left,
.split-pane-right {
    flex: 1;
    overflow: hidden;
}

.split-pane-left {
    background-color: white
}
.split-pane-right {
    background-color: white;
    width: 100%
}

.separator-width {
    border: 3px solid #F6F7F9;
    cursor: col-resize;
}