/* styles.css */
.split-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.split-pane-top,
.split-pane-bottom {
    flex: 1;
    overflow: hidden;
    border: #D6DADC 2px solid;
    border-radius: 3px;
}

.split-pane-top {
    background-color: white
}
.split-pane-bottom {
    background-color: white;
    height: 100%
}

.separator {
    border: 3px solid #F6F7F9;
    cursor: row-resize;
}