
.app {
  background: white;
  height: 100%;
  width: 100%;
  overflow: hidden
}

.console {
  height: 100%;
}

/* THIS IS FOR THE CODE OUTPUT */
.output {
  text-align: left;
  font-family: monospace;
  overflow: scroll;
}

.console-content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

/* THIS IS FOR THE CODE INPUT */
.cursor {
  position: relative;
  font-family: monospace;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}